<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=0" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div>@DateTime.Now.Year &copy Michal Janek</div>
        @RenderSection("footerInfo", required: false)

        @*Toto je to iste nizsie*@
        @*@await Component.InvokeAsync("Greeter")*@
        <vc: greeter></vc:>
        @if(User.Identity.IsAuthenticated)
        {
            foreach (var identity in User.Identities)
            {
                <h3>@identity.Name</h3>
                <ul>
                    @foreach (var claim in identity.Claims)
                    {
                        <li>@claim.Type  - @claim.Value</li>
                    }
                </ul>
            }
        } else
        {
            <div>You are anonymous.</div>

        }
    </footer>
    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    </environment>
</body>
</html>
